body {
    background-image: url("../assets/texture-1444067_1920.jpg");
    background-attachment: fixed;
    background-size: cover
}

header {
    border-radius: 20px;
}

header > ol {
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: auto;
    border: 1px solid white;
    font-size: 18px;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(#b3ecff, white, #b3ecff);
    border-radius: inherit;
}

header > ol > li {
    float: left;
    background: linear-gradient(#b3ecff, white, #b3ecff);
    width: 20%;
    margin: auto;
    height: 2em;
    border-radius: inherit;
}

header > ol a {
    display: block;
    border-radius: inherit;
    color: purple;
    text-decoration: none;
    padding: 0 5px;
    font-weight: bold;
    font-style: oblique;
}

header > ol > li > a:hover {
    color: silver;
}

header > ol > li > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    border-radius: inherit;
}

header > ol > li:hover > ul {
    display: block;
}

header > ol > li:hover > a {
    background-color: purple;
}

header > ol > li:first-child {
    margin-left: 0;
}

header > ol > li > ul > li > a {
    border-top: 1px solid lightblue;
    border-radius: inherit;
}

header > ol > li > ul > li {
    background: linear-gradient(#b3ecff, white, #b3ecff);
    border-radius: inherit;
}

header > ol > li > ul > li:hover > a {
    background-color: purple;
}

header > ol > li > ul > li:hover a {
    color:silver;
}

div.content {
    width: 80%;
    margin: auto;
    border: 1px solid white;
    box-shadow: 0 0 50px 25px #b3ecff inset;
    border-radius: 20px;
    color: purple;
    background: linear-gradient(#b3ecff, white, #b3ecff);
}

div.container {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.inner {
    display: grid;
    width: 50%;
}

div.footer {
    width: 80%;
    margin: auto;
    border: 1px solid white;
    box-shadow: 0 0 20px 10px #b3ecff inset;
    border-radius: 20px;
    color: purple;
    background: linear-gradient(#b3ecff, white, #b3ecff);
}

p {
    font: 14pt/21pt Consolas, serif;
    padding: 5px 50px;
    text-indent: 50px;
    text-align: justify;
}

p.highlight {
    width: 80%;
    margin: auto;
    font: 14pt/21pt Consolas, serif;
    padding: 5px 50px 50px;
    text-indent: 50px;
    text-align: justify;
    /*position: sticky;*/
}

p.title {
    font: bold 21pt Cambria, serif;
    padding: inherit;
    text-align: center;
    text-indent: inherit;
}

p.small {
    font: 10pt Tahoma, serif;
    padding: 0 0;
    text-indent: 0;
    text-align: center;
}

img.small {
    padding: 0 5px 0 20px;
    margin: auto;
    width: 20px;
    height: 20px;
}

img.profile {
    padding: 50px 50px;
    margin: auto;
    border-radius: 220px;
    height: 500px;
}

img.imgcenter {
    display: block;
    margin: auto;
    width: 60%;
    padding: 10px;
}
          /*.menu5 {list-style-type:none; margin-left: auto; margin-right: auto; padding:0; width:300px;}
          .menu5 li a {text-decoration:none; display:block; padding:10px 5px; color:#EFE9AB; font:20px Consolas, serif; text-align:center;}
          .menu5 li a:hover {color:brown; box-shadow:0 0 8px 1px #CCC inset; border-radius:20px;}*/*/

a {
    color: green;
    padding: 0px;
    text-decoration: none;
    font-size: 12pt;
}

a:hover {
    color: silver;
    font-size: 14pt;
    font-weight: bolder;
    font-style: italic;
}

a.feet:link, a.feet:visited {
    background-color: transparent;
    color: purple;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.feet:hover, a.feet:active {
    color: #0011AA;
}
